# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/llibrary/
/saves/
/TombManyGraves/
/screenshots/
/mods/
/world/

# Client Configs
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini
zs_export.json
.ReAuth.cfg
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
ItemDump.txt
BotaniaVars.dat
options.txt
README.md
crafttweaker.log
crafttweaker.log
config/BlockDrops/modVersions.txt
config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourceProperty.txt
*.zip
*.rar
astralsorcery/gatewayFilter/worldFilter.dat
config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
valkyrielib/cache/supporters.json

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
config/brandon3055/ProjectIntelligence/ModDocs/
patchouli_data.json
oldmanifest.json
config/AppliedEnergistics2/items.csv
OpenComputersMod-1.7.4.153-lua53-native.64.dll
config/astralsorcery/amulet_enchantments.cfg
